html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards ease-in-out;
}

.fade-in-delay {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.5s forwards ease-in-out;
}

.fade-in-delay-2 {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards ease-in-out;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
